<div id="main">
  <%= @msg %>
  <%= @nkz #コメントアウト %>
  <%#
    コメントアウト
   %>
   <% if false %>
   <% msg = '無視されます' %>
   <%= 'ここも無視されます' %>
   <% end %>

   <%
   =begin
   %>
   <%= 'コメントアウト' %>
   <%
  =end
   %>

</div>
